<div class="genre-card col-4">
  <%= link_to(cl_image_tag(genre.picture, :width => 300, :height => 300, :crop => :fill, class: ""), genre_path(genre), method: :get) %>
  <div>
    <h5><%= genre.name %></h5>
  </div>
</div>