<div class="genre-card col-<%= column %> <%= class_name %>">
  <%= link_to(cl_image_tag(genre.picture), genre_path(genre), method: :get) %>
  <h5><%= link_to(genre.name, genre_path(genre), method: :get) %></h5>
</div>