<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-bottom: 25px;">
  <div class="genre-card <%= class_name %>" style=" background: url('<%= cl_image_path(genre.picture) %>');background-size: cover;background-size: cover;background-position: center center;">
    <h5><%= link_to(genre.name, genre_path(genre), method: :get) %></h5>
  </div>
</div>