<div class="genre-index-container">
	<h3>ALL GENRES</h3>

  <div class="genre-card-row cards">
    <% @genres.order(:name).each do |genre| %>
        <%= render partial: 'genre_card', locals: {genre: genre, class_name: ""} %>
    <% end %>
  </div>
</div>