<div>
	
	<h1>All Genres / <%= @genre.name%></h1>

  <div class="row">
    <% @genre.users.each do |artist| %>
      <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
    <% end %>
  </div>
</div>