<div class="genre-show-container container">
	
	<h3><%= link_to "ALL GENRES / ", genres_path, method: :get %></h3>
  <h3><%= @genre.name.upcase%></h3>

  <div class="cards artist-card-row">
    <% @genre.users.order(:name).each do |artist| %>
      <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
    <% end %>
  </div>
</div>