$('#login-error-message').remove();
$('#login-modal-body-start').prepend('<div class="alert alert-danger" id="login-error-message"><strong>Login Failed!  </strong><%= escape_javascript message %></div>');