<% unviewed = 0
   current_user.notifications.order('created_at DESC').each do |notification|
     unviewed+=1 unless notification.viewed
     break if notification.viewed
   end %>

<div class="btn-group notification-dropdown">
  <span id="unviewed_notification_number" class="badge badge-notify"><%= unviewed %></span>
  <button type="button" id="notification_dropdown_button" class= "rounded-circle" data-toggle="dropdown" onclick="markNotificationsViewed()">
    <%= material_icon.notifications.md_24 %>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <% current_user.notifications.order('created_at DESC').first(3).each do |notification| %>
      <%= render partial: 'notifications/notification', locals: {notification: notification}  %>
    <% end %>
    <li>
        <div class="view-all-notifications">
          <%= link_to('View All Notifications',  notifications_path, method: :get) %>
        </div>
    </li>
  </ul>
</div>