<div class="container">
  <div class="notifications-page-title-container">
    <h5 style="font-weight: bold">Your Notifications</h5>
  </div>

  <ul class="notifications-page-list">
    <%= render @notifications %>
  </ul>
</div>
