<div class="container">
	<h1 class="display-3">Edit Profile</h1>

	<%= render 'form', user: @user %>

	<%= link_to 'Show', @user %> |
	<%= link_to 'Back', users_path %> |

  <%= link_to 'Delete User Account', @user, method: :delete %>
</div>

