<div class="container">
  <h1>@title</h1>
  <table class="table">
    <thead>
    <tr>
      <% if @combined %>
          <th>Artists</th>
          <th>Users</th>
      <% else %>
          <th>Users</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% if @combined %>
        <% @combined.each do |follow_pair| %>
            <tr>
              <td><%= link_to(follow_pair[0], "/artists/#{artist.id}", method: "get", class: "lead") %></td>
              <td><%= link_to(follow_pair[1], "/users/#{user.id}", method: "get", class: "lead") %></td>
            </tr>
        <% end %>
    <% else %>
        <% @users.each do |user| %>
            <tr>
              <td><%= link_to(user, "/users/#{user.id}", method: "get", class: "lead") %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
