<div>
  <div id="carouselExample" class="carousel slide mx-auto artist-carousel" data-ride="carousel" data-interval="30000">
    <div class="carousel-inner artist-card-row" role="listbox">
      <div class="carousel-item col-md-4 col-sm-6 active mx-auto">
        <%= render partial: 'shared/artist_card', locals: {artist: @artists.first} %>
      </div>

      <% @artists[1..(@artists.length-1)].each do |artist| %>
          <div class="carousel-item col-md-4 col-sm-6 mx-auto">
            <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
          </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>