<div class="container-fluid">

	<div class="jumbotron jumbotron-main">
		<div class="home-title-container my-auto">
			<h3 class="display-4 text-center">Reinventing Music Conversation</h3>
			<h4 class="text-center">Rate, Review, & Discuss Artists</h4>
			<%= react_component "ArtistSearchContainerComponent", {searchPath: search_artists_path, submitPath: submit_search_path, navbar: false}, class: "homepage-search-container" %>
		</div>
	</div>
	
	<hr>

	<!-- Artist Cards -->
	<div class="container-fluid">

		<div class="section-title-block text-center">
			<h3>Featured Artists</h3>
			<p>Discover and explore conversations around artists.</p>
		</div>

		<div class="artist-card-row">
      <% @artists.each do |artist| %>
        <%= render partial: 'shared/artist_card', locals: {artist: artist} %>
      <% end %>
		</div>
	</div>

	
	<!-- Genre Cards -->
	<div class="container-fluid">

		<div class="section-title-block text-center">
			<h3>Popular Genres</h3>
			<p>Explore artists by genre.</p>
		</div>

		<div class="genre-card-row">
			<% @genres.each do |genre| %>
        <%= render partial: 'genres/genre_card', locals: {genre: genre, column: 3, class_name:"genre-card-homepage"} %>
			<% end %>
		</div>

		<div class="text-center">
			<%= link_to "View all genres", genres_path, class: "btn btn-danger button-home" %>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container text-center section-title-block">
			<h1>Join the Conversation</h1>
			<p class="lead">Rate, Review, and Discuss.</p>
			<button class="btn btn-danger button-home">Sign up</button>
		</div>
	</div>
</div>
