/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.img-circle{
  border-radius: 50%;
}

.row{
  position: relative;
}

.profile_jumbotron {
  background-color: gray;
  padding-bottom: 25px!important;
  padding-top: 150px!important;
}

.follow-button{
  background-color: rgb(184,0,25);
  box-shadow: none;
  border: none!important;
}

.follow-button:hover,
.follow-button:focus,
.follow-button:active {
  background-color: blue;
}

.share_button{
  background-color: transparent;
  border: none!important;
}

.right_align{
  text-align: right;
}

.followers_text{
  margin-bottom: 0;
}

.follow_count{
  position: relative;
  top: 20px;
}

.bio_margin{
  margin-bottom: 20px;
}

.profile-genres-left-padding{
  padding-left: 50px;
  border-left: 1px solid lightgray;
}