// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-title-container .homepage-search-container .search-btn, .red-btn {
  padding: 12px 0;
  width: 190px;
  border: 1px solid #AA182A;
  border-radius: 100px;
  background-color: #AA182A;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Montserrat';
}

.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {font-size: 0.95rem;}


.home-title-container h3{font-size:42px;}
.home-title-container h4{font-size:20px;font-weight:100;}
a:hover{text-decoration:none;}

div.artist-homepage-block div.artist-carousel{width:100%;}
h5{font-weight:normal;}
h6{text-transform: uppercase;}

.number-bump{position:relative;bottom:1px;}