// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Main Elements
a:hover{text-decoration:none;}

//Buttons
.home-title-container .homepage-search-container .search-btn, .red-btn {
  padding: 12px 0;
  width: 190px;
  border: 1px solid #AA182A;
  border-radius: 100px;
  background-color: #AA182A;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Montserrat';
}

//Forms
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {font-size: 0.95rem;}


//Headers
.home-title-container h3{font-size:42px;}
.home-title-container h4{font-size:20px;font-weight:100;}


//Artist Cards
div.artist-homepage-block div.artist-carousel{width:100%;}
h5{font-weight:normal;}
h6{text-transform: uppercase;}
.number-bump{position:relative;bottom:1px;}

.slick-track .artist-card{

  @media(min-width: 768px) {
    display: inline-block;
    width: 296px!important;
    height: 415px!important;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow:hidden;
  }
}

//Modal
.modal-content{border-radius:0px;}
.modal-header{border-bottom:none;}

//Artists Page
.material-icons.md-18, .mi.md-18{font-size:12px;}
.review_content {
  margin: 35px 0px;
}

.ratings_list {
  margin-left: 10px;
  position: relative;
  bottom: 4px;
}

#review-filter {
  text-align: right;
  font-size: 13px;
  font-weight: 100;
  color: grey;
  margin: 10px;
  a{color:#707070;font-size:12px;}
}


//navigation
.material-icons.md-24, .mi.md-24{font-size:13px;}


//genres
.artist-image-area{
  height: 276px;  
}

