<div class="modal hide fade" id="review_share_modal" data-link="" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 class="title-sharepage">Share</h3>
        <div class="row share-icon-row">
          <div class="col-2">
            <%= cl_image_tag("static/facebook_icon.png", :width => 50, :height => 50, :crop => :fill, class: "facebook-icon-sharepage", onclick: "shareFacebook('#{link}');") %>
          </div>
          <div class="col-2">
            <%= link_to(cl_image_tag("static/twitter_icon.png", :width => 55, :height => 55, :crop => :fill, class: "twitter-icon-sharepage"), "https://twitter.com/intent/tweet?text=hey&url=#{link}", onclick: "window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=350,height=250');return false;") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>