
	<% if notice %>
		<div class="alert alert-info alert-homepage mx-auto" id="alert" role="alert"><%= notice %></div>
	<% end %>

	<% if alert %>
		<div class="alert alert-success alert-homepage mx-auto" id="notice" role="alert"><%= alert %></div>
	<% end %>