<footer>
	<div class="footer_copyright">
		<p class="text-muted">&copy;2017 MyBandSource All rights reserved.</p>
	</div>
	<div class="footer_links">
		<a href="#about_modal" data-toggle="modal">About</a>
		<a href="#terms_modal" data-toggle="modal">Terms</a>
		<a href="#privacy_modal" data-toggle="modal">Privacy</a>
		<a href="">Contact</a>
		<a href="">Claim Artist Profile</a>
		<a href=<%= create_artist_path %>>Create Artist Profile</a>
	</div>
	<div class="social-bar footer_social">
		<a href="" target="_blank" class="fa fa-twitter"></a>
		<a href="" target="_blank" class="fa fa-facebook"></a>
		<a href="" target="_blank" class="fa fa-instagram"></a>
	</div>
</footer>