<footer>
	<div class="footer_copyright">
		<p class="text-muted">&copy;2017 MyBandSource All rights reserved.</p>
	</div>
	<div class="footer_links">
		<a href="#about_modal" data-toggle="modal">About</a>
		<a href="#terms_modal" data-toggle="modal">Terms</a>
		<a href="#privacy_modal" data-toggle="modal">Privacy</a>
		<a href="mailto:info@mybandsource.com">Contact</a>
		<a href="#claim_artist_modal_1" data-toggle="modal">Claim Artist Profile</a>
		<a href=<%= create_artist_path %>>Create Artist Profile</a>
	</div>
	<div class="social-bar footer_social">
    <%= link_to cl_image_tag('static/twitter_icon_profile', alt: "Twitter", width: 16, height: 16), 'http://twitter.com/mybandsource' %>
    <%= link_to cl_image_tag('static/facebook_icon_profile', alt: "Facebook", width: 16, height: 16, crop: :fill), 'http://facebook.com/myBandSource' %>
    <%= link_to cl_image_tag('static/instagram_icon_profile', alt: "Instagram", width: 16, height: 16, crop: :fill), 'http://instagram.com/mybandsource' %>
  </div>
</footer>